@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

body {
  @apply bg-black text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-blue-900/10;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-700;
}